{% extends 'base.html' %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<style>
    .container {
        background-color: #f8f9fa; /* Light background to improve readability */
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    }
    .lead {
        color: #495057; /* Soft color for text */
        background-color: #e9ecef; /* Slight background for the lead text */
        padding: 10px;
        border-radius: 5px;
    }
    .btn-custom {
        background-color: #007bff; /* Bootstrap primary color */
        color: white;
        border-radius: 5px;
        padding: 5px 15px;
    }
    .btn-custom:hover {
        background-color: #0056b3; /* Darker on hover */
    }
    .table {
        margin-top: 20px;
    }
    .table th {
        background-color: #007bff; /* Header color */
        color: white;
    }
    .table-hover tbody tr:hover {
        background-color: #f5f5f5; /* Hover effect for table rows */
    }
    .table-bordered td, .table-bordered th {
        border-color: #dee2e6; /* Soft color for borders */
    }
    .form-control-file {
        border: 1px solid #ced4da; /* Border to make it stand out more */
        padding: 5px;
        border-radius: 5px;
    }
</style>

<div class="container mt-4 text-center">
  {% if user.is_authenticated %}
    <p class="lead">Welcome, you are logged in as <strong>{{ user.username }}</strong></p>
    
    {% if user.userprofile.is_site_admin %}
      <!-- Site Admins can view all submissions -->
      <div>
        <form action="{% url 'admin_document_list' %}" method="get">
          <button type="submit" class="btn btn-info">View All Submissions</button>
        </form>
      </div>
    {% else %}
      <!-- Common users can upload documents and view their own submissions -->
      <div>
        <form action="{% url 'user_document_list' %}" method="get">
          <button type="submit" class="btn btn-info">View Your Submissions</button>
        </form>
        <p class="d-flex flex-column align-items-center" style="margin-bottom:1%;">or</p>
        <a href="{% url 'report_form' %}" class="btn btn-primary" class="d-flex flex-column align-items-center">Submit Form</a>
     
     
      </div>

      
    {% endif %}

  {% else %}
    <p class="lead">Welcome, you are logged in as a Guest</p>
    <a href="{% url 'report_form' %}" class="btn btn-primary" class="d-flex flex-column align-items-center">Submit Form</a>
  {% endif %}
</div>

{% endblock %}
