{% extends 'base.html' %}

{% load allauth i18n %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      
      <h1 class="my-5">{% trans "Sign Out" %}</h1>
      
      <p class="lead">{% trans 'Are you sure you want to sign out?' %}</p>
      
      {% url 'account_logout' as action_url %}
      <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        
        <button type="submit" class="btn btn-primary btn-lg">
          {% trans 'Sign Out' %}
        </button>
      </form>

    </div>
  </div>
</div>
{% endblock content %}
